# USA Housing dataset
April 5, 2021

- Want to convert this to a simple dataset for import to my pygame program
- I believe number of bedrooms (x) predicts house price (y)

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

sns.set()

In [4]:
df = pd.read_csv('USA_Housing.csv')

In [7]:
df.head(3)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [10]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [11]:
df2 = df

In [13]:
df = df2[['Avg. Area Number of Bedrooms', 'Price']]

In [15]:
df.head(3)

   Avg. Area Number of Bedrooms         Price
0                          4.09  1.059034e+06
1                          3.09  1.505891e+06
2                          5.13  1.058988e+06

In [18]:
df.rename(columns = {'Avg. Area Number of Bedrooms': 'bedooms'}, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [19]:
df.head(3)

   bedooms         Price
0     4.09  1.059034e+06
1     3.09  1.505891e+06
2     5.13  1.058988e+06

In [20]:
df.rename(columns = {'Price': 'price'}, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [21]:
df.head(3)

   bedooms         price
0     4.09  1.059034e+06
1     3.09  1.505891e+06
2     5.13  1.058988e+06

## Get a sample of 200 rows

In [23]:
df = df.sample(n=200)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 4472 to 3631
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   bedooms  200 non-null    float64
 1   price    200 non-null    float64
dtypes: float64(2)
memory usage: 4.7 KB

In [27]:
df.head()

      bedooms         price
4472     3.48  9.746000e+05
474      5.47  1.137059e+06
4357     2.03  4.813916e+05
101      2.02  1.114431e+06
4828     5.46  1.735417e+06

## Convert to numpy array

In [25]:
arr = df.to_numpy()

In [28]:
arr[:10]

array([[3.48000000e+00, 9.74599959e+05],
       [5.47000000e+00, 1.13705919e+06],
       [2.03000000e+00, 4.81391643e+05],
       [2.02000000e+00, 1.11443095e+06],
       [5.46000000e+00, 1.73541692e+06],
       [3.36000000e+00, 1.24211143e+06],
       [4.37000000e+00, 1.44347004e+06],
       [3.46000000e+00, 1.09770194e+06],
       [3.24000000e+00, 1.26518091e+06],
       [6.46000000e+00, 1.21004674e+06]])

## Save numpy array

In [29]:
from tempfile import TemporaryFile

In [31]:
np.save("usa_housing", arr)

## Get some data to scale the axes

In [34]:
df.price.describe()

count    2.000000e+02
mean     1.227220e+06
std      3.726019e+05
min      3.114052e+04
25%      9.957257e+05
50%      1.241075e+06
75%      1.466004e+06
max      1.967637e+06
Name: price, dtype: float64

In [35]:
df.price.max()

1967637.286822351

In [37]:
df.price.min()

31140.517620186045

#### I am predicting house price based on number of bedrooms
- So, price = y axis
- A reasonable y axis in pygame / pixels is 600

In [39]:
factor = df.price.max()/600
factor

3279.3954780372515

In [41]:
df.price.min() / factor

9.495810379913047

 Okay -- so the smallest house will be 9 pixels above 0, and the largest will be 600

### X axis

In [46]:
df.rename(columns = {'bedooms': 'beds'}, inplace=True)

In [47]:
df.beds.max()

6.5

In [48]:
df.beds.min()

2.02

#### A reasonable x axis would be 1000

In [49]:
xfactor = df.beds.max() / 1000
xfactor

0.0065

In [51]:
xfactor = 1/xfactor
xfactor

153.84615384615384

In [52]:
df.beds.max() * xfactor

1000.0

In [53]:
df.beds.min() * xfactor

310.7692307692308

## Sum of factors

- Divide all y values by 3300
- Multiply all x values by 150

## How to perform operations on numpy array columns

In [54]:
arr[0]

array([3.48000000e+00, 9.74599959e+05])

In [55]:
arr[:3]

array([[3.48000000e+00, 9.74599959e+05],
       [5.47000000e+00, 1.13705919e+06],
       [2.03000000e+00, 4.81391643e+05]])

In [57]:
beds = arr[:,0] * 300
beds

array([1044., 1641.,  609.,  606., 1638., 1008., 1311., 1038.,  972.,
       1938., 1239.,  900., 1275., 1863., 1524.,  906.,  951.,  936.,
       1017., 1515.,  711.,  954.,  708., 1932.,  645., 1347., 1281.,
       1908., 1287., 1038.,  681., 1314., 1584.,  930.,  948.,  948.,
        732.,  618., 1908.,  945., 1911.,  972., 1914.,  747., 1260.,
        924.,  966., 1548.,  957.,  627.,  975.,  615.,  966., 1008.,
       1248.,  906., 1014., 1335., 1896., 1581., 1899., 1221.,  984.,
       1338., 1203., 1248., 1026.,  912., 1308.,  942., 1257., 1875.,
        975., 1248.,  990.,  948., 1242., 1587., 1512., 1227., 1614.,
       1620., 1335., 1227., 1833., 1017., 1518., 1014., 1047., 1218.,
        993.,  906., 1347.,  693., 1329., 1266., 1326.,  990., 1857.,
       1251.,  738., 1236.,  906., 1011., 1338., 1209.,  687., 1884.,
        993.,  651.,  738.,  921., 1248.,  903., 1263., 1614., 1866.,
        969.,  945.,  699.,  957., 1575., 1212., 1836., 1335.,  732.,
        978.,  702.,  678., 1302., 1632., 1335.,  990.,  618., 1011.,
       1335., 1803., 1863.,  918.,  969.,  990., 1809., 1584., 1614.,
       1257., 1254., 1620., 1323.,  729.,  915.,  726.,  951., 1299.,
       1581., 1038., 1800.,  648., 1341.,  903., 1227.,  963.,  921.,
       1902., 1011., 1299., 1227., 1269.,  705.,  735., 1908.,  615.,
        660., 1296., 1269., 1026., 1341., 1218., 1044., 1044., 1866.,
       1824., 1302., 1005., 1215., 1935.,  957.,  978., 1935., 1212.,
        678.,  633.,  996.,  906., 1047., 1209., 1221., 1323., 1344.,
        996., 1950.])

#### Prices

In [72]:
arr[:5]

array([[3.48000000e+00, 9.74599959e+05],
       [5.47000000e+00, 1.13705919e+06],
       [2.03000000e+00, 4.81391643e+05],
       [2.02000000e+00, 1.11443095e+06],
       [5.46000000e+00, 1.73541692e+06]])

In [73]:
arr[:5,1]

array([ 974599.95876417, 1137059.18848432,  481391.64332197,
       1114430.95342313, 1735416.92139243])

In [74]:
prices = arr[:,1] / 3300
prices[:5]

array([295.33332084, 344.56339045, 145.87625555, 337.70634952,
       525.88391557])

## Vector operations on the array

In [75]:
arr[:5]

array([[3.48000000e+00, 9.74599959e+05],
       [5.47000000e+00, 1.13705919e+06],
       [2.03000000e+00, 4.81391643e+05],
       [2.02000000e+00, 1.11443095e+06],
       [5.46000000e+00, 1.73541692e+06]])

In [80]:
arr2 = arr.copy()
arr2[:5]

array([[3.48000000e+00, 9.74599959e+05],
       [5.47000000e+00, 1.13705919e+06],
       [2.03000000e+00, 4.81391643e+05],
       [2.02000000e+00, 1.11443095e+06],
       [5.46000000e+00, 1.73541692e+06]])

In [77]:
arr2[:,0] = arr2[:,0] * 300
arr2[:5]

array([[1.04400000e+03, 9.74599959e+05],
       [1.64100000e+03, 1.13705919e+06],
       [6.09000000e+02, 4.81391643e+05],
       [6.06000000e+02, 1.11443095e+06],
       [1.63800000e+03, 1.73541692e+06]])

In [78]:
arr2[:5,0]

array([1044., 1641.,  609.,  606., 1638.])

In [79]:
arr2[:,0].max()

1950.0