# eCommerce data
- April 5, 2021

In [27]:
import pandas as pd
import numpy as np
import seaborn as sns

sns.set()

In [30]:
df = pd.read_csv('data/Ecommerce Customers.csv')

In [8]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [9]:
df.columns

Index(['Email', 'Address', 'Avatar', 'Avg. Session Length', 'Time on App',
       'Time on Website', 'Length of Membership', 'Yearly Amount Spent'],
      dtype='object')

In [10]:
df.rename(columns = {'Length of Membership': 'years', 'Yearly Amount Spent': 'spend'}, inplace = True)

In [12]:
df = df[['years', 'spend']]

In [13]:
df.head()

      years       spend
0  4.082621  587.951054
1  2.664034  392.204933
2  4.104543  487.547505
3  3.120179  581.852344
4  4.446308  599.406092

## We want to predict spend using years
- Years = x
- Spend = y

### Let's look at x

In [15]:
df.years.describe()

count    500.000000
mean       3.533462
std        0.999278
min        0.269901
25%        2.930450
50%        3.533975
75%        4.126502
max        6.922689
Name: years, dtype: float64

### Let's look at y

In [14]:
df.spend.describe()

count    500.000000
mean     499.314038
std       79.314782
min      256.670582
25%      445.038277
50%      498.887875
75%      549.313828
max      765.518462
Name: spend, dtype: float64

## I'm going to scale x and y ... not sure if that breaks all stats rules, but won't look right in pygame without it

In [17]:
df.spend = df.spend * 0.8

df.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

      years       spend
0  4.082621  470.360843
1  2.664034  313.763947
2  4.104543  390.038004
3  3.120179  465.481875
4  4.446308  479.524874

In [18]:
df.spend.describe()

count    500.000000
mean     399.451231
std       63.451825
min      205.336466
25%      356.030622
50%      399.110300
75%      439.451062
max      612.414770
Name: spend, dtype: float64

In [19]:
df.years = df.years * 140

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [20]:
df.years.describe()

count    500.000000
mean     494.684618
std      139.898850
min       37.786153
25%      410.262959
50%      494.756501
75%      577.710272
max      969.176507
Name: years, dtype: float64

## Convert to numpy

In [21]:
arr = df.to_numpy()

In [24]:
arr = arr.astype(int)

In [25]:
arr[:10]

array([[571, 470],
       [372, 313],
       [574, 390],
       [436, 465],
       [622, 479],
       [769, 509],
       [655, 417],
       [620, 439],
       [458, 456],
       [448, 341]])

## First col = years = x
## Second col = spend = y

In [26]:
np.save("../ecommerce", arr)